<!DOCTYPE html> {% load staticfiles %}
<link rel='stylesheet' href='{% static "css/ajuda.css" %}' />
{% include "django/cabecalho.html" %}
<div class="container">
    <div class="panel-group" id="accordion">
        <div class="faqHeader">Dúvidas Frequentes</div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
Lorem ipsum dolor sit amet. Ut voluptatem earum et adipisci reiciendis qui voluptatum accusantium a quia explicabo ut natus fugit?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Mi quis hendrerit dolor magna eget. Tortor dignissim convallis aenean et. Faucibus et molestie ac feugiat sed lectus vestibulum. Sit amet cursus sit amet dictum sit amet. Eleifend donec pretium vulputate sapien nec sagittis. Elit ut aliquam purus sit amet luctus. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Semper feugiat nibh sed pulvinar proin.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Lorem ipsum dolor sit amet. Ut voluptatem earum et adipisci reiciendis qui voluptatum accusantium a quia explicabo ut natus fugit?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Mi quis hendrerit dolor magna eget. Tortor dignissim convallis aenean et. Faucibus et molestie ac feugiat sed lectus vestibulum. Sit amet cursus sit amet dictum sit amet. Eleifend donec pretium vulputate sapien nec sagittis. Elit ut aliquam purus sit amet luctus. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Semper feugiat nibh sed pulvinar proin. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Lorem ipsum dolor sit amet. Ut voluptatem earum et adipisci reiciendis qui voluptatum accusantium a quia explicabo ut natus fugit?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Mi quis hendrerit dolor magna eget. Tortor dignissim convallis aenean et. Faucibus et molestie ac feugiat sed lectus vestibulum. Sit amet cursus sit amet dictum sit amet. Eleifend donec pretium vulputate sapien nec sagittis. Elit ut aliquam purus sit amet luctus. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Semper feugiat nibh sed pulvinar proin.
                </div>
            </div>
        </div>
