<!DOCTYPE html> {% load staticfiles %}

<html>

<head>
    <title>SGICE</title>
    <link rel='stylesheet' href='{% static "css/form.css" %}' />

	<script type="text/javascript">
		$("#calculo").click(function() {
  		if ($("#prof").prop("checked")) {
    		$("#Prof").css("display", "block")
  }
})
	</script>  
    
</head>

<body>
    {% include "django/cabecalho.html" %}

    <div class="container">
	
		<form class="form-signin" id="formulario" name="formulario">
			<h2 class="form-signin-heading">Cadastro Professor</h2>
			
		    <input type="radio" id="prof" name="user" value="prof" >
  		    <label for="prof">Professor</label><br>
            <input type="radio" id="aluno" name="user" value="aluno">
			<label for="aluno">Aluno</label><br>
			
			<div id="Prof">
		    <input type="text" id="nome_professor" class="form-control" placeholder="Nome" required autofocus style="display:none">
		    <br>
		    <label for="siape" class="sr-only">SIAPE:</label>
		    <input type="text" id="siape" class="form-control" placeholder="SIAPE" required style="display:none">
		    <br>
		    <label for="email" class="sr-only">E-mail:</label>
		    <input type="text" id="email_professor" class="form-control" placeholder="E-mail" required style="display:none">
		    <br>
		    <label for="senha" class="sr-only">senha:</label>
		    <input type="text" id="senha_professor" class="form-control" placeholder="Senha" required style="display:none">
		    <br>
			<button class="btn btn-success" type="submit">Cadastrar</button> 
		    </div>
                    
		    
		</form>
    </div>
</body>

</html>



