<!DOCTYPE html> {% load staticfiles %}

<html>

<head>
    <title>SGICE</title>
    <link rel='stylesheet' href='{% static "css/form.css" %}' />
    
</head>

<body>
    {% include "django/cabecalho.html" %}

    <div class="container">
	
		<form class="form-signin">
		    <h2 class="form-signin-heading">Cadastro Professor</h2>
		    <label for="nome" class="sr-only">Nome:</label>
		    <input type="text" id="nome_professor" class="form-control" placeholder="Nome" required autofocus>
		    <br>
		    <label for="endereco" class="sr-only">SIAPE:</label>
		    <input type="text" id="siape" class="form-control" placeholder="SIAPE" required>
		    <br>
		    <label for="cpf" class="sr-only">E-mail:</label>
		    <input type="text" id="email_professor" class="form-control" placeholder="E-mail" required>
		    <br>
		    <label for="cpf" class="sr-only">senha:</label>
		    <input type="text" id="senha_professor" class="form-control" placeholder="Senha" required>
		    <br>
		    <button class="btn btn-success" type="submit">Cadastrar</button>
		</form>
    </div>
</body>

</html>