<!DOCTYPE html> {% load staticfiles %}

<html>

<head>
	<title>SGICE</title>
	<link rel='stylesheet' href='{% static "css/form.css" %}' />

</head>

<body>
	{% include "django/cabecalho.html" %}

	<div class="container">

		<form>
			<h2 class="form-signin-heading">Cadastrar Vídeo</h2>
			<label for="titulo" class="sr-only">Título:</label>
			<input type="text" id="titulo_exercicio" class="form-control" placeholder="Título" required autofocus>
			<br>
		</form>

		<div id="video_aula" class="form">
			<input type="file" placeholder="Upload Vídeo Aula" name="video_aula" required="required">
			<br>

		</div>

		<button class="btn btn-success" type="submit">Cadastrar</button>


		<br>
	</div>
</body>
</html>
