<!DOCTYPE html> {% load staticfiles %}

<html>

<head>
	<title>SGICE</title>
	<link rel='stylesheet' href='{% static "css/form.css" %}' />

</head>

<body>
	{% include "django/cabecalho.html" %}

	<div class="container">
        
		<form onchange="myFunction();">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 >Conteúdo 1</h1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Mi quis hendrerit dolor magna eget. Tortor dignissim convallis aenean et. Faucibus et molestie ac feugiat sed lectus vestibulum. Sit amet cursus sit amet dictum sit amet. Eleifend donec pretium vulputate sapien nec sagittis. Elit ut aliquam purus sit amet luctus. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Semper feugiat nibh sed pulvinar proin.
                </div>
            </div>
     
            <br>
            <br>
			<label for="titulo" class="sr-only">Título:</label>
			<input type="text" id="titulo_exercicio" class="form-control" placeholder="Título" required autofocus>
			<br>
			
		</form>
		<div id="texto" class="form" >
			<input type="textarea" placeholder="Insira o comentário aqui" class="form-control" name="comentario" required="required"
				style="width:650px; height: 150px;">
			<br>
			<br>

		</div>

		<button class="btn btn-success" type="submit">Comentar</button>


		<br>

	</div>
</body>
</html>
