{% load staticfiles %} <!-- Nova linha que carrega os arquivos estáticos -->
{% include "django/cabecalho.html" %}
<link rel='stylesheet' href='{% static "css/progresso.css" %}' />

 <div>
    <h1 class="mb-5 mt-5"> Progresso</h1>
</div>
<div class="container">

<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> Máteria
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
        <div class="col-md-12">
            <h3 class="progress-title">Tema 1</h3>
            <div class="progress">
                <div class="progress-bar" style="width:65%; background:#97c513;">
                    <div class="progress-value">65%</div>
                </div>
            </div>
            <h3 class="progress-title">Tema 2</h3>
            <div class="progress">
                <div class="progress-bar" style="width:100%; background:#f2545b;">
                    <div class="progress-value">100%</div>
                </div>
            </div>
            <h3 class="progress-title"> Tema 3 </h3>
            <div class="progress">
                <div class="progress-bar" style="width:75%; background:#4286f4;">
                    <div class="progress-value">75%</div>
                </div>
            </div>
            <h3 class="progress-title">Tema 4</h3>
            <div class="progress">
                <div class="progress-bar" style="width:30%; background:#21ff63;">
                    <div class="progress-value">30%</div>
                </div>
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>

<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> Matéria
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
        <div class="col-md-12">
            <h3 class="progress-title">Tema 1</h3>
            <div class="progress">
                <div class="progress-bar" style="width:65%; background:#97c513;">
                    <div class="progress-value">65%</div>
                </div>
            </div>
            <h3 class="progress-title">Tema 2</h3>
            <div class="progress">
                <div class="progress-bar" style="width:100%; background:#f2545b;">
                    <div class="progress-value">100%</div>
                </div>
            </div>
            <h3 class="progress-title">Tema 3</h3>
            <div class="progress">
                <div class="progress-bar" style="width:75%; background:#4286f4;">
                    <div class="progress-value">75%</div>
                </div>
            </div>
            <h3 class="progress-title">Tema 4</h3>
            <div class="progress">
                <div class="progress-bar" style="width:30%; background:#21ff63;">
                    <div class="progress-value">30%</div>
                </div>
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
    
</div>
