<!DOCTYPE html> {% load staticfiles %}

<html>

<head>
    <title>SGICE</title>
    <link rel='stylesheet' href='{% static "css/form.css" %}' />

</head>

<body>
    {% include "django/cabecalho.html" %}

    <div class="container">

        <div id="exercicio" class="form">
            <label>Escolha a disciplina: </label>
            <select name="time" class="form-control" id='div1'>
                <option value="bota">Disciplinas</option>
                <option value="bota">Disciplina 1</option>
                <option value="fla">Disciplina 2</option>
                <option value="flu">Disciplina 3</option>
            </select>
        </div>
            <br>
            <div id='m1' class="form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Alunos</h2>
                        <input type="checkbox" name="checkbox-1" id="checkbox-1" />
                        <label for='div'>João da Silva</label>
                        <br>
                        <input type="checkbox" name="checkbox-2" id="checkbox-2" />
                        <label for='div'>Maria Joaquina</label>
                        <br>
                        <input type="checkbox" name="checkbox-2" id="checkbox-2" />
                        <label for='div'>Teodora Fonseca</label>
                        <br>
                        <br>
                        <!-- select all boxes -->
                        <input type="checkbox" name="select-all" id="select-all" />
                        <label for='div'>Selecionar Todos</label>
                </div>
            </div>
        </div>
    <br>
   
    <br>

    </form>
    <button class="btn btn-success" type="submit">Matricular</button>

</div>
    <br>
    <script>
        // Listen for click on toggle checkbox
        $('#select-all').click(function (event) {
            if (this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
    </script>

    </div>
</body>

</html>