<!DOCTYPE html> {% load staticfiles %}

<html>

<head>
    <title>SGICE</title>
    <link rel='stylesheet' href='{% static "css/form.css" %}' />

</head>

<body>
    {% include "django/cabecalho.html" %}

    <div class="container">
        <form >
            
            <div id='m1' class="form" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Alunos Cadastrados</h2>
                        <input type="checkbox" name="checkbox-1" id="checkbox-1" />
                        <label for='div'>João da Silva</label>
                        <br>
                        <input type="checkbox" name="checkbox-2" id="checkbox-2" />
                        <label for='div'>Maria Joaquina</label>
                        <br>
                        <input type="checkbox" name="checkbox-2" id="checkbox-2" />
                        <label for='div'>Teodora Fonseca</label>
                        <br>
                        <br>
                        <!-- select all boxes -->
                        <input type="checkbox" name="select-all1" id="select-all1" />
                        <label for='div1'>Selecionar Todos</label>
                    </div>
                </div>
            </div>
            <br>
            <div id="exercicio" class="form">
                <label>Escolha a disciplina: </label>
                <select name="disc" class="form-control" id="disc">
                    <option value="#">Selecione</option>
                    <option value="disc1">Disciplina 1</option>
                    <option value="disc2">Disciplina 2</option>

                </select>
            </div>
           
            <br>

        </form>
        <button class="btn btn-success" type="submit">Matricular</button>

    </div>
    <br>
    <script type="text/javascript">

      

        $('#select-all1').click(function (event) {
            if (this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

     
    </script>

    </div>
</body>

</html>